body{
    background-color: #1b6d85;
}

.title{
    color: whitesmoke;
    font-size: xx-large;
    display: flex;
    align-content: center;

}
.container{
    margin-top: 250px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}