<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="http://getbootstrap.com/examples/theme/theme.css" />
    <link rel="stylesheet" type="text/css" href="../css/planet.css" />
    <script src="../js/ie-emulation-modes-warning.js"></script>
</head>
<body>
<span ><p class="title">Hello  <a th:value="${userName}"/> Voici les planètes de ton univers !</p></span>

<div class="container">
    <form action="#" th:action="@{/universe/planet}" method="post">
    <table>
        <tr th:each="Planete : ${planeteList}">
                <td th:text="Planete"></td>
                <td><input type ="submit" class = "btn btn-primary" name = "planetId" th:value="${Planete.getId()}" />
                </td>
        </tr>
    </table>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>