<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="http://getbootstrap.com/examples/theme/theme.css" />
    <link rel="stylesheet" type="text/css" href="../css/universe.css" />
    <script src="js/ie-emulation-modes-warning.js"></script>
</head>
<body>
<p>Hello !</p>
<div class="container">
    <table align="left">
        <tr th:each="Unite:${unites}">
                <td th:text="${#strings.toString(Unite.getClass().getSimpleName())}"></td>
        </tr>
    </table>
</div>
<form action="#" th:action="@{/universe/planet/construction}" method="post">

    <ul class = "dropdown-menu"><h2>Unite</h2>
        <li th:each="UniteType : ${UniteTypes}">
            <input type ="submit" class = "btn btn-primary" th:value="${#strings.toString(UniteType.getClass().getSimpleName())}">
        <li role = "separator" class = "divider"></li>
    </ul>
    <ul class = "dropdown-menu"><h2>Unite Orbitale</h2>
        <li th:each="UniteType : ${UniteOrbitaleTypes}">
            <input type ="submit" class = "btn btn-primary" th:value="${#strings.toString(UniteOrbitaleType.getClass().getSimpleName())}">
        <li role = "separator" class = "divider"></li>
    </ul>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>