<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../css/planet.css" />
    <script src="../js/ie-emulation-modes-warning.js"></script>
</head>
<body>
<p>Hello ! <!--<a th:text="${Joueur.getUsername}"/>--></p>

<div class="container">
    <form action="#" th:action="@{/universe/planet}" method="post">
    <table align="center">
        <tr th:each="Planete : ${planeteList}">
           <button class = "btn btn-primary btn-block">
            <td th:text="Planete"></td>
            <td><a th:text="${Planete.getId()}"></a></td>
           </button>
        </tr>
    </table>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>